body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: rgb(217, 206, 206);
    font-family: 'Open Sans', sans-serif;
}

.hide-for-mobile {
    display: none;
}


.hide-for-desktop {
    display: none;
}

.hide-for-desktop2 {
    display: none;
}

.hide {
    display: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.has-fade {
    animation: fade-in 500ms ease-in 1;
}

.overlay {
    position: fixed;
    background: linear-gradient(#00004a, #00004a00);
    z-index: 400;

}

.hide-overlay {
    background-color: rgb(217, 206, 206);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

