.header-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #00004a;
    z-index: 1000;
}

#header-logo {
    display: flex;
}

.logo {
    height: 80px;
    width: 200px;
    max-width: 200%;
}

#nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 50px;
}

.nav-links {
    gap: 20px;
    height: 20px;
}

#hmb-menu {
    margin-top: 47px;
}

#hmb-menu span {
    display: block;
    margin-right: 26px;
    width: 25px;
    height: 2px;
    background-color: white;
    transition: all 250ms ease-in-out;
    transform-origin: 4.2px 1px;
}

.hmb-toggle span:first-child {
    transform: rotate(45deg);
}

.hmb-toggle span:nth-child(2) {
    opacity: 0;
}

.hmb-toggle span:last-child {
    transform: rotate(-45deg);
}

#hmb-menu span:not(last-child) {
    margin-bottom: 4px;
}

.links {
    width: fit-content;
    padding-bottom: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: all 250ms ease-in-out;

}

.popup-links {
    width: fit-content;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: all 250ms ease-in-out;
}

/*.pop-menu {
    justify-content: center;
    align-items: baseline;
    position: fixed;
    top: 18%;
    left: 27%;
    height: 300px;
    width: 300px;
    background-color: #00004a;
    border-radius: 10px;
    z-index: 500;

}*/

.pop-container {
    justify-content: center;
    align-content: center;
    position: fixed;
    height: 300px;
    width: 100%;
    top: 14%;
    z-index: 500;
}

.pop-menu {
    justify-content: center;
    align-items: baseline;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    z-index: 500;
    background-color: #00004a;
}

.pop-links {
    margin-top: 46px;
    gap: 24px;
}

.links:hover {
    color: gold;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.popup-links:hover {
    color: gold;
    border-bottom: 1px solid;
    transform: scale(1.1);
}

/*hides links for mobile and displays hamburger menu*/
@media all and (max-width: 850px) {
    .hide-for-desktop {
        display: block;
    }

}

/*hides hamburger menu and displays links, also hides overlay if open*/
@media all and (min-width: 851px) {
    .hide-for-mobile {
        display: flex;
    }

    .pop-links {
        display: none;
    }

    .pop-menu {
        display: none;
    }

}    